<div class="container">
  <link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
  <header>
    <h1>InfoMusic</h1>
    <img width="80" height="80" [src]="ulrImgNota" alt="musical-notes"/>
  </header>
  <nav>
    <div [routerLink]="['/Inicio']">Inicio</div>
    <div [routerLink]="['/Artista']">Artista</div>
    <div [routerLink]="['/Album']">Álbum</div>
    <div *ngIf="!sessionValidate()" [routerLink]="['/Login']">Login</div>
    <div *ngIf="sessionValidate()" [routerLink]="['/Favorito']">Favorito</div>
    <div *ngIf="sessionValidate()" (click)="logout()" [routerLink]="['/Favorito']">Logout</div>
  </nav>
  <div [style.backgroundColor]="backgroundColor" (click)="changeStyle()" id="change">
    <p><img width="25" height="25" [src]="urlImg" alt="music-record--v1"/></p>
  </div>
    <router-outlet></router-outlet>
</div>